.login{
    width: 300px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;
}

.lContainer{
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.linput{
    border: none;
    outline: none;
    border-bottom: 2px solid black ;
}

.linput:focus{
    border-bottom: 2px solid #0072c2;
    box-shadow: 2px solid #0072c2;
}

.loginButton{
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #0072c2;
    padding: 4px;
}


.lspan{
    font-size: 12px;
    color: red;
    text-align: center;
}

.lh1{
    text-align: center;
    margin-top: 30px;
}

.gotoLogin{
    text-decoration: none;
    color: #0072c2;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}
.loginHeader{
    background-color: #003580;
    height: 100px;
    width: 100%;
}

.loginFooter{
    background-color: #003580;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width:420px){
   
}